.login-page{
    background-color: var(--white-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 0px;
}
.login-title{
    font-weight: bold;
    font-size:30px;
    margin-bottom:40px;
}
.login-form{
    width: 100%;
    max-width: 600px;
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 5px #eee;
    padding: 50px 20px;
    margin: 0 auto;
    border-radius: 10px;
}
.login-form input{
    outline: none !important;
    border: none !important;
    transition: all 0.3s;
    padding: 15px;
}
.login-form input:focus{
    box-shadow: 5px 5px 10px #bfbcbc !important;
}
.login-form button{
    font-weight: normal;
    width: 100%;
}
.help-links{
    font-size: 20px;
}
.form-control:focus{
    box-shadow: 0 0 5px gray !important;
}