
.remove-modify-parent{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 10px;
}
.remove-modify-parent button{
    width:60px;
    height:30px;
    font-size: 12px;
    text-transform: capitalize;
}
.admin-product .card{
    height:430px !important;
}