.footer{
    background-color: var(--primary-color);
    color: white;
    padding:50px;
    /* margin-top: 100px; */
}
.footer ul{
    list-style: none;
    text-align: start;
    padding: 0;
}
.footer a{
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
}
.footer a:hover{
    color: white;
}
.footer .footer-logo img{
    max-width:100px;
}
.footer .footer-payment-methods{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer .footer-payment-methods img{
    max-width:50px;
}
.footer .footer__widget{
    text-align: start;
}
.footer .footer__widget h4{
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--white-color);
}
.footer .footer__widget ul li{
    margin-bottom: 10px;
    font-size:17px;
}
.footer .footer__newslatter input{
    background-color: transparent;
    color:var(--white-color);
    outline: none;
    border: none;
    padding: 10px 20px;
    caret-color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
}
.footer .footer__newslatter button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer .footer__newslatter button i{
    color: gray;
    font-size: 20px;
    transition: all 0.3s;
}
.footer .footer__newslatter button:hover i{
    color: var(--white-color);
}
.footer .footer-links{
    margin-bottom: 50px !important;
}
.footer__copyright__text{
    color: var(--white-color);
}